<form (ngSubmit)="onSubmit()" class="space-y-4">

  <div>
    <label class="block text-sm font-semibold text-gray-700 mb-2 ml-1">Email</label>
    <ion-input type="email" placeholder="john.doe@example.com" class="custom-input"
      [value]="email()" (ionInput)="email.set($any($event).target.value)">
    </ion-input>
  </div>

  <div>
    <div class="flex justify-between items-center mb-2 ml-1">
      <label class="block text-sm font-semibold text-gray-700">Password</label>
      
      <button type="button" 
              (click)="onForgot()" 
              class="text-xs font-bold text-[#B794F4] hover:text-[#a855f7] transition-colors focus:outline-none">
        Forgot password?
      </button>
    </div>

    <ion-input type="password" placeholder="**********" class="custom-input"
      [value]="password()" (ionInput)="password.set($any($event).target.value)">
      <ion-input-password-toggle slot="end" class="mr-2 text-gray-400"></ion-input-password-toggle>
    </ion-input>
  </div>

  <ion-button type="submit" expand="block" mode="ios" [disabled]="!email() || !password() || isLoading()"
    class="login-button h-12 font-bold normal-case mt-6">
    Log In
  </ion-button>
  <ion-button type="button" fill="clear" expand="block" mode="ios"
      (click)="onCancel()"
      class="h-12 font-semibold text-gray-500 normal-case ion-no-margin">
      Cancel
    </ion-button>

</form>