<form (ngSubmit)="onSubmit()" class="space-y-4">

  <div>
    <label class="block text-sm font-semibold text-gray-700 mb-2 ml-1">
      Email
    </label>

    <ion-input 
      type="email"
      placeholder="john.doe@example.com"
      class="custom-input"
      [value]="email()"
      (ionInput)="email.set($any($event).target.value)">
    </ion-input>
  </div>

  <div>
    <label class="block text-sm font-semibold text-gray-700 mb-2 ml-1">
      Password
    </label>

    <ion-input 
      type="password"
      placeholder="**********"
      class="custom-input"
      [value]="password()"
      (ionInput)="password.set($any($event).target.value)">
    </ion-input>
  </div>

  <ion-button 
    type="submit"
    expand="block"
    mode="ios"
    class="login-button h-12 font-bold normal-case mt-6"
    [disabled]="isFormInvalid()">

    Log In
  </ion-button>

</form>