td {
    background: transparent !important;
}

tr {
    &:hover {
        background-color: #f9fafb !important;
    }
}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5); 
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
  
  &:hover {
    filter: invert(0.3) sepia(1) saturate(10) hue-rotate(240deg);
  }
}