<div class="relative">
  <div
    class="flex items-center w-full h-auto min-h-[3rem] px-4 py-2 bg-white border border-gray-300 rounded-2xl shadow-sm focus-within:ring-2 focus-within:ring-purple-200 focus-within:border-purple-500 transition-all">
    <ion-input placeholder="Search and select address..." class="text-gray-900 w-full text-sm" [value]="addressText()"
      (ionInput)="onSearch($any($event).target.value)">
    </ion-input>
    <ion-button fill="clear" (click)="getCurrentLocation()" class="h-10 m-0" color="primary"
      style="--padding-start: 8px; --padding-end: 8px;">
      <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
    </ion-button>
  </div>

  @if (suggestions().length > 0) {
  <div
    class="absolute z-[9999] w-full mt-2 bg-white border border-gray-200 rounded-xl shadow-xl max-h-60 overflow-auto">
    @for (item of suggestions(); track item.place_id) {
    <div (click)="selectAddress(item)" class="p-3 hover:bg-purple-50 cursor-pointer border-b border-gray-100 text-sm">
      <div class="font-bold text-gray-800">
        {{ item.address?.road || item.address?.pedestrian || item.display_name.split(',')[0] }}
        {{ item.address?.house_number || '' }}
      </div>
      <div class="text-xs text-gray-500">
        {{ item.display_name }}
      </div>
    </div>
    }
  </div>
  }
</div>


<div class="w-full h-72 border border-gray-300 rounded-2xl shadow-sm overflow-hidden z-0 mt-4">
  <div id="map" class="w-full h-full"></div>
</div>