$purple-main: #9333ea;
$gray-border: #d1d5db;

.custom-searchbar-clean {
  --background: transparent;
  --box-shadow: none;
  --border-width: 0;
  --padding-start: 8px;
  --icon-color: #9333ea;
  
  height: 100%;
  margin: 0;
  
  &::part(container) {
    background: transparent;
    border: none;
  }
}