<div class="!px-0 !py-4">
  <ion-searchbar 
    [placeholder]="placeholder()" 
    (ionInput)="handleInput($event)"
    mode="md" 
    debounce="300"
    class="!p-0 !h-auto !shadow-sm !rounded-lg !border !border-gray-200 !transition-all !duration-200 
          focus-within:!border-[#9333ea] focus-within:!ring-1 focus-within:!ring-[#9333ea]"
    style="
      --background: #ffffff;
      --icon-color: var(--ion-color-primary);
      --clear-button-color: var(--ion-color-primary);
      --placeholder-color: #9ca3af;
      --box-shadow: none;
    ">
  </ion-searchbar>
</div>