$purple-main: #9333ea;
$gray-border: #d1d5db;

.custom-searchbar {
  --box-shadow: none;
  --background: #ffffff;
  padding: 0 !important;
  margin: 0;

  overflow: hidden; 
  
  border: 2px solid #{$gray-border};
  border-radius: 16px;
  background: #ffffff;
  transition: all 0.2s ease-in-out;

  --icon-color: #{$purple-main};
  --clear-button-color: #{$purple-main};
  --placeholder-color: #9ca3af;
  --placeholder-font-weight: 500;

  --border-width: 0;
  --padding-start: 12px;

  &.searchbar-has-focus {
    border-color: #{$purple-main};
    box-shadow: 0 0 0 4px rgba(147, 51, 234, 0.1); 
    transform: translateY(-1px);
  }

}